* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4f6f9;
}

/* TOPBAR */
.topbar {
    background: #0b3c74;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn {
    background: white;
    color: #0b3c74;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
}

/* DASHBOARD GRID */
.dashboard {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

/* CARDS */
.card,
.profile-card,
.gwa-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* PROFILE */
.profile-card {
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-pic {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #0b3c74;
}

.profile-info h2 {
    color: #0b3c74;
    margin-bottom: 8px;
}

.profile-info p {
    font-size: 14px;
    margin-bottom: 4px;
}

/* GWA */
.gwa-card {
    text-align: center;
}

.gwa-score {
    font-size: 42px;
    font-weight: bold;
    color: #0b3c74;
}

.status {
    display: inline-block;
    margin-top: 8px;
    font-weight: bold;
}

.passed {
    color: green;
}

/* SUBJECTS */
.subject-list {
    list-style: none;
}

.subject-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.subject-list button {
    background: #0b3c74;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* ANNOUNCEMENTS */
.announcements li {
    margin-bottom: 8px;
}

/* FULL WIDTH */
.full {
    grid-column: span 2;
}

/* GRAPH PLACEHOLDER */
.graph-placeholder {
    margin-top: 15px;
    height: 200px;
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 8px;
}
